@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:wght@300&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'poppins,sans-serif';
}

body {
  color: #fff;
  height: 100vh;
  scroll-behavior: smooth;
}

#bg-main {
    z-index: -1;
    background-image: url(./asset/bg-main.jpg);
    background-position: fixed;
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    /* clip-path: polygon(0 0, 100% 0, 100% 100%, 0 78%); */
  }


  
  #header {
    position: relative;
    margin-top: 100px;
    margin-bottom: 100px;
  }
  
  #name {
    position: fixed;
    top: 3rem;
    left: 25rem;
    font-weight: 800;
    /* text-shadow: 5px 5px 8px; */
    font-size: 62px;
    outline: none;
    padding: 10px;
  }



/* Quotes and Auto Type */
.quotes {
  width: 55%;
  margin: 350px 0 0 40px;
  align-items: center;
  justify-content: center;
  /* position: fixed; */
  font-family: 'Cormorant Garamond', serif;
}

.quotes .auto-input {
  font-size: 40px;
}

.typed-cursor--blink {
  border: none;
  font-size: 30px;
  display: none;
}
.typed-cursor {
  /* position: fixed; */
  border: none;
  font-size: 30px;
}

/* Main Section  */
main{
    position: absolute;
    width: 45%;
    height: 1000vh;
    top: 45rem;
    left:1rem;
    background-color: transparent;
    /* z-index: 1; */
}


h2{
    color:rgb(227, 103, 15);
    text-transform: uppercase;
    letter-spacing: 0.23rem;
    margin-bottom: 40px;
    font-size:48px;
}

p{
  margin-top: 10px;
  font-size: 16px;
  line-height: 1.5rem;
  text-align: justify;
  color: #cfcece;
}

.img-1992{
    margin: 2rem 0.5rem 0 0;
    width: 150px;
    height: 150px; 
}

.img-1994{
    margin: 2rem 0.5rem 0 0;
    width: 150px;
    height: 170px; 
}

#cdi{
    width: 150px;
    height: 150px;
}
 
h3{
    margin-top: 5rem;
}

#E{
  font-size: 10rem;
  font-weight: 600;
}


#upcoming{
  display: flex;
  text-transform: uppercase;
  gap: 6rem;
  margin-left: 11rem;
}

#cricket{
  color:rgb(227, 103, 15);
  text-transform: uppercase;
  font-size:58px;
  font-weight: 600;
}

.kkr-img{
  margin: 10px 20px 0 10px;
}

article{

  font-size: 16px;
  color: #cfcece;
  font-family: 'Cormorant Garamond', serif;
  font-weight: normal;
  text-transform: none;
  font-style: inherit;
  font-size: 20px;
  text-align: justify;
  margin-top: 2rem;
}
#title{
  font-size: 16px;
  color: #fff;
  font-family: 'Cormorant Garamond', serif;
  text-transform: none;
  font-size: 28px;
  text-align: justify;
}

#title a{
  text-decoration: none;
  color: #fff;

}



.btn {
    color: #000;
    background-color: #fff;
    text-decoration: none;
    padding: 15px 25px;
    border-radius: 4px;
    margin-top: 5rem;
    font-size: 20px;
}
